@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html, body {
  overflow-x: hidden;  /* Disable horizontal overflow */
  margin: 0;           /* Remove any default margin */
}

/* Animate active link */
a.active {
  color: #EC6325;               /* active color */
  text-decoration: underline;   /* underline */
  transition: all 0.3s ease; 
  font-size: 20px;   /* smooth transition */
}

/* Optional: animate hover too */
a:hover {
  color: #EC6325;
  text-decoration: underline;
  transition: all 0.3s ease;
}


/* Swiper pagination fix */
.swiper-pagination {
  bottom: 10px !important; /* adjust position */
  z-index: 50 !important; /* above overlays */
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: #EC6325 !important; /* bullet color */
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #FFD580 !important; /* active bullet color */
}
